svg {
    .grabbable {cursor: grab;}
    .grabbing {cursor: grabbing;}
    polygon {
        fill: url('#fade1');
    }
}

.color-selector {
    li {
        list-style: none;
        margin: 30px 0;
    }
}