<div style="background-color: lightgreen;display:flex; flex-direction: row; flex-wrap: wrap;">
  <div>
    <svg height="1000" width="1000">
      <defs>
        <linearGradient id="fade1">
          <stop id="stop1" offset="0" [attr.stop-color]="circle1Color" />
          <stop id="stop2" offset="1" [attr.stop-color]="circle2Color" />
          <stop id="stop3" offset="1" [attr.stop-color]="circle3Color" />
        </linearGradient>
      </defs>

      <rect height="1000" width="1000" style="fill:lightblue; stroke-width:3;stroke:rgb(0,0,0)" />
      <g (click)="clickTriangle()" (mousedown)="mousedown(0, $event)">
        <polygon id="triangle" points="250,750 500,250 750,750" fill="url(#grad)" style="stroke:black;stroke-width:1" />
      </g>
      <g id="circle1" (click)="clickCircle(1, $event)" (mousedown)="mousedown(1, $event)" (mouseup)="mouseup(1)">
        <circle [attr.cx]="circle1Xcoor" [attr.cy]="circle1Ycoor" [attr.r]="circleRadius" [attr.fill]="circle1Color" />
      </g>
      <g id="circle2" (click)="clickCircle(2, $event)" (mousedown)="mousedown(2, $event)" (mouseup)="mouseup(2)">
        <circle [attr.cx]="circle2Xcoor" [attr.cy]="circle2Ycoor" [attr.r]="circleRadius" [attr.fill]="circle2Color" />
      </g>
      <g id="circle3" (click)="clickCircle(3, $event)" (mousedown)="mousedown(3, $event)" (mouseup)="mouseup(3)">
        <circle [attr.cx]="circle3Xcoor" [attr.cy]="circle3Ycoor" [attr.r]="circleRadius" [attr.fill]="circle3Color" />
      </g>
    </svg>

  </div>
  <div class="color-selector">
    <ul>
      <li>
        <div>
          <input type="color" id="head" name="head" [(ngModel)]="circle1Color" style="margin-right: 20px;">
          <label for="head">Corner #1</label>
        </div>
      </li>
      <li>
        <div>
          <input type="color" id="head" name="head" [(ngModel)]="circle2Color" style="margin-right: 20px;">
          <label for="head">Corner #2</label>
        </div>
      </li>
      <li>
        <div>
          <input type="color" id="head" name="head" [(ngModel)]="circle3Color" style="margin-right: 20px;">
          <label for="head">Corner #3</label>
        </div>
      </li>
    </ul>
  </div>
</div>